<div class="image-preload">
  <img *ngFor="let image of preload_images" [attr.src]="image">
</div>
<div class="container-fluid">
  <div  class="row products">
    <div class="col-xl-2 col-lg-4 questions-block">
      <form 
          #f="ngForm" 
          (ngSubmit)="nextPage(f)">       
        <div class="form-group" 
        *ngFor="let question of questions">
          <label [attr.for]="question.name">
            {{question.text}}
          </label><br/>
          <select class="form-control"
          [name]="question.name"
          ngModel>
            <option 
            *ngFor="let property of question.props" 
            [value]="property"
            >{{property}}</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary">
          Next
        </button>
      </form>
    </div>
    <div [attr.class]="page_class">

    </div>
  </div>
</div>
